<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Explicando: en este ejemplo se usa la creacion de eventos para poder comunicar diferentes elementos
En este caso no hemos usado otra page si no un componente que es una parte de una pagina por lo tanto
no tiene ion-content la otra parte curiosa es que debe definirse en el modulo de la pagina donde vaya a usarse
Crear componentes es una buena forma de tener elementos comunes para todas las paginas -->
<ion-content>
  <div>
    <button (click)="createUser('jose')">crear un usuario</button>
  </div>
  <app-destino></app-destino>
</ion-content>